
.pagination-controls {
    margin: 32px 0;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.pagination-controls-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}




