.nav-btn {
    min-width: 60px;
    min-height: 60px;
    background-color: white;
    border: none;
}

.nav-btn:not(.active-btn):hover {
    background-color: var(--pink-light);
}

.nav-btn svg {
    fill: var(--pink);
}

.active-btn {
    background-color: var(--pink);
}

.active-btn svg {
    fill: white;
}


