.work-pane {
    padding: 20px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.white {
    min-height: 770px;
    background-color: white;
}

.pink {
    background-color:  var(--pink-light);
    min-height: 840px;
}
